/*----------------------------------- html-elements -------------------------------------*/
body {
  font-family: 'Montserrat'-black;
}
h1 {
   font-size: 3rem;
  line-height: 1.8;
    font-weight: bold;
}
h2 {
  font-size: 3rem;
 line-height: 1.5;
font-family: 'Montserrat', sans-serif;
   padding-top: 4%;
}
h3 {
font-weight: bold;
}
p {
  color: grey;
  font-size: 1.1rem;
}
nav {
  color: #fff;
}

/*------------------------------------ title-------------------------------------------- */
#title {
  background-color: #ff4c48;
  color: #fff;
}
.container-fluid {
  padding: 3% 15%;
}
.download{
margin-top: 7%;
margin-right: 6%;
}
.iphone6 {
  width: 55%;
  transform: rotate(25deg);
}
.row {
  padding-left: 20px;
  padding-right: 20px;
}

/*-------------------------------------- navbar------------------------------------------ */
.nav {
   padding-bottom: 4%;
     color: #fff;
}
.navbar-brand {
  font-size: 3.5rem;
  font-weight: bold;
  font-family: "ubuntu";
  color: white;
  margin-left: 17px;
}
.navbar-brand:hover {
  color: #bae8e8;
}
.nav-link {
  color: #fff;
  font-size: 1.3rem;

}
.nav-link:hover {
color: #bae8e8;
}

/*------------------------------------- features -----------------------------------------------*/
#features {
    padding: 5% 7%;
  text-align: center;
  background-color: #fff;
}
.icon {
  color:#ef8172 ;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
}
/*------------------------------------ testimonials---------------------------------------------- */
#testimonials {
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
}
.testimonial-image {
  border-radius: 100%;
  padding-bottom: 3%;
  padding-top: 3%;
}
.carousel-item {
  padding: 7% 15%;

}


/* ---------------------------------------press--------------------------------------------------- */
#press {
  background-color: #ff4c68;
  padding-bottom: 3%;
  text-align: center;
}
.logo{
    padding-right: 1.8%;
}
/* ----------------------------------------pricing----------------------------------------------- */
#pricing {
  text-align: center;
  background-color: #fff;
  color: black;
}
/*-------------------------------------------- cta-------------------------------------------- */
#cta {
  background-color:  #ff4c68;
  color: #ffffff;
  text-align: center;
  height: 450px;
  padding-top: 4%;

}
.download2 {
  margin-top: 6%;
  margin-right: 2.5%;
}
.true-love {
  font-size: 3rem;
  font-weight: bold;
}
/*------------------------------------------ footer -------------------------------------------- */
#footer {
  height: 250px;
  text-align: center;
}
.Copyright {
  padding-top: 4%;
}
.icon2 {
  padding-top: 5%;
  padding-right: 2%;
}
